extends ../layout


//- block header
    include includes/header
block meta
    meta(property="og:site_name", content="Abbott Marathon Experience")
    meta(property="og:url", content="#{config.projectURL}/videos/#{contact.identifier}/")
    meta(property="og:title", content="Abbott Marathon Experience")
    meta(property="og:description", content="Check out this incredible slow-mo video of me in motion, captured at the @Abbott Health and Fitness Expo.")
    meta(property="og:video", content="#{contact.participant.getS3VideoURL()}")
    meta(property="og:image", content="#{contact.participant.getS3ThumbnailURL()}")

block css
    link(rel='stylesheet', href='#{STATIC_URL}css/video.css')

block content

    .row
        .column-12
            .centered.breathe-top.page-header
                h1
                    | #{utils.possessifyName(contact.firstName)} #{contact.participant.overlayWord}
    .row
        .column-8.push-2
            .centered
                video.video-js.vjs-default-skin(controls, preload="auto", width="100%", poster="#{contact.participant.getS3ThumbnailURL()}")
                    source(src="#{contact.participant.getS3VideoURL()}", type='video/mp4')

    .row.breathe-top
        .column-12.centered
            p
                | Save and share your video

    .row

        .column-6.centered.push-3
            .row
                .column-3
                    .centered
                        a(href="#{contact.participant.getS3VideoURL()}", download)
                            button(type="button")
                                | Download

                .column-3
                        a(href="#")#facebook-share.social
                            img(src="/images/facebook-icon.png")
            

                        a(href="#")#twitter-share.social.breathe-left
                            img(src="/images/twitter-icon.png")
                

                        a(href="#")#google-plus-share.social.breathe-left
                            img(src="/images/google-plus-icon.png")


block footer
    .row
        .column-12
            hr
            .footer
                .footer-image
